<div *ngIf="currentUser | async as user">
        <mat-toolbar class="mat-elevation-z8">
          <button mat-icon-button aria-label="Menu icon" *ngIf="isMobile" (click)="toggleSidebar()" >
            <mat-icon style="color: white">menu</mat-icon>
          </button>
          <img class="navbarLogo" src="assets/img/branding/wraptious-artists-logo-2.png" />
        </mat-toolbar>

        <mat-sidenav-container [ngClass]="{'sidebar-open': openSidebar}" autosize>
          <div *ngIf="openSidebar"></div>
            <mat-sidenav [opened]="openSidebar" [mode]="isMobile ? 'over' : 'side'">
              <mat-nav-list>
                <a mat-list-item fxl routerLink="/dashboard" routerLinkActive="active-link">
                  <span class="sidebarItems">
                    <mat-icon>person</mat-icon>
                    <span>Home</span>
                  </span>
                </a>
                <hr class="side-nav-horizontal-row">
                <a mat-list-item routerLink="/order-history/{{user.data.attributes.owner}}" routerLinkActive="active-link">
                    <span class="sidebarItems">
                      <mat-icon>list_alt</mat-icon>
                      <span>Order History</span>
                    </span>
                  </a>
                <hr class="side-nav-horizontal-row">
                  <a mat-list-item (click)="logout()">
                    <span class="sidebarItems">
                      <mat-icon>backspace</mat-icon>
                      <span>Logout</span>
                    </span>
                  </a>
              </mat-nav-list>
            </mat-sidenav>
            <mat-sidenav-content>
              <router-outlet />
            </mat-sidenav-content>
          </mat-sidenav-container>
</div>