.mat-elevation-z8 {
  background-color: #546e7a;
  height: 30px;
  margin-bottom: 40px;
  box-shadow: none;
}

.navbarLogo {
  width: 100px;
}

mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 2;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  padding-top: 2rem;
  width: 220px;
  position: fixed;
}

.sidebarItems {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: gray;
  font-size: 14px;
}

.sidebarItems:hover {
  color: #ea2769;
}

.sidebarItems span {
  color: black;
}

.active-link{
    border-left: 5px solid #ea2769;
}
.active-link .sidebarItems mat-icon{
    color: #ea2769;
}

.side-nav-horizontal-row{
    border-top: 1px solid rgb(240, 235, 235);
}

mat-sidenav-container.sidebar-open {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5) !important;
  position: relative;
  width: 100%;
}

mat-sidenav-content {
  margin-left: 300px !important;
  margin-right: 80px;
  overflow-x: hidden;
  min-height: 100vh;

  @media screen and (min-width: 600px) {
    padding-top: 4rem;
  }

  @media screen and (max-width: 599px) {
    padding-top: 1rem;
    width: 100%;
    margin: 10%;
    left: 0;
    margin-left: 0 !important;
  }
}

@media screen and (min-width: 600px) {
    button[aria-label="Menu icon"] {
      display: none;
    }
  }