.mat-elevation-z8{
    margin-bottom: 100px;
    box-shadow: none;
}
.detailsButton{
    text-decoration: none; 
    border: 1px solid rgb(214, 211, 211); 
    color: black;
    padding: 10px 15px;  
    border-radius: 5px;
}
.detailsButton:hover{
    background-color: rgb(247, 246, 246);
}
@media screen and (max-width: 599px) {
    .mat-elevation-z8 {
        overflow-x: auto;
    }
}
