<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">   
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Order </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef> Order Date </th>
      <td mat-cell *matCellDef="let element"> {{element.created}} </td>
    </ng-container>

    <ng-container matColumnDef="order_source">
      <th mat-header-cell *matHeaderCellDef> Order Source </th>
      <td mat-cell *matCellDef="let element"> {{element.order_source}} </td>
    </ng-container>

    <ng-container matColumnDef="grand_total">
      <th mat-header-cell *matHeaderCellDef> Total </th>
      <td mat-cell *matCellDef="let element"> £{{element.grand_total}} </td>
    </ng-container>

    <ng-container matColumnDef="receipt_link">
      <th mat-header-cell *matHeaderCellDef> Details </th>
      <td mat-cell *matCellDef="let element"><a href= {{element.receipt_link}}  class="detailsButton" target="_blank"> View </a>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 50, 75, 100]"
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
