a .profileImage {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid #EA2769;
}
.userDetails{
    font-size: 15px
}
.footer{
    font-weight: 600; 
    font-size: 15px;
    padding-top: 20px;
}
@media screen and (max-width: 599px) {
    .footer {
        text-align: center;
        margin: 10px 5px;
    }
}
